html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.Container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 190px;
}

.Header {
  width: 100%;
  height: 95px;
  flex-shrink: 0;
  border-bottom: 1px solid #cbcbcb;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
}

.LeftGroup {
  display: flex;
  align-items: center;
  gap: 40px;
}

.Logo {
  margin-left: 130px;
  margin-right: 57px;
}

.T_Category {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
  text-decoration: none;
}

.T_Search {
  color: #0d5bda;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: default;
  text-decoration: none;
}

.T_Chat {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: default;
}

.Alarm {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  background-color: #0d5bda;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: -8px;
  display: none;
}

.T_Mypage {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}

.Btn {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 35px;
  background: #0d5bda;
  border: none;
  outline: none;
  display: inline-flex;
  padding: 10px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 183px;
  height: 49px;
}

.Logout {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.Category {
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Line {
  width: 930px;
  height: 2px;
  background: #cbcbcb;
  margin: 41px auto;
}

.ResultText {
  /* margin-left: 370px; */
  cursor: default;
  margin-top: 8px;
}

.BlueText {
  color: #0d5bda;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.BlackText {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Footer {
  width: 100%;
  height: 211px;
  flex-shrink: 0;
  background: #ecf0f5;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.B_Text {
  color: #565656;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.S_Text {
  color: #565656;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Workher {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-left: 210px;
}
.About {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-right: 253px;
}
.L_Line {
  width: 2px;
  height: 135px;
  background: #cbcbcb;
  margin-top: 33px;
}

.Category .faded {
  opacity: 0.3;
}

.Region {
  display: inline-flex;
  padding: 5.522px 11.832px;
  align-items: center;
  gap: 9.466px;
  border-radius: 23.664px;
  background: #fff;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  margin-right: 19px;
  /* margin-left: 140px; */
  margin-left: 50px;
}

.Work {
  display: inline-flex;
  padding: 5.522px 11.832px;
  align-items: center;
  gap: 9.466px;
  border-radius: 23.664px;
  background: #fff;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  margin-right: 19px;
}

.Badge {
  display: inline-flex;
  padding: 5.522px 11.832px;
  align-items: center;
  gap: 9.466px;
  border-radius: 23.664px;
  background: #fff;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  align-items: center;
  gap: 9.466px;
  border-radius: 23.664px;
  background: #fff;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  margin-right: 19px;
}

.ResultFilter {
  display: flex;
}

.Regioncheck {
  width: 599px;
  flex-shrink: 0;
  border-radius: 13.675px;
  background: #fff;
  box-shadow: 0px 0px 5.812px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  box-sizing: border-box;
  /* padding-right: 20px; */
  /* padding-bottom: 30px; */
  top: 365px;
  right: 565px;
  display: none;
}

.RegionTop {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  margin-top: 33px;
}

.RegionGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 34px;
  margin-top: 14px;
  gap: 15px 12px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
  white-space: nowrap;
  justify-content: flex-start;
}

.custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1.367px solid #cbcbcb;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  width: 6px;
  height: 10px;
  border: solid #0d5bda;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  position: absolute;
  top: -1px;
  left: 2px;
}

.RegionLine {
  width: 483.411px;
  height: 1.078px;
  background: #cbcbcb;
  margin-left: 34px;
  margin-top: 12px;
}

.WorkCheck {
  width: 163px;
  height: auto;
  flex-shrink: 0;
  border-radius: 13.675px;
  background: #fff;
  box-shadow: 0px 0px 5.812px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  box-sizing: border-box;
  top: 365px;
  right: 495px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 32px;
  display: none;
}

.WorkLine {
  width: 104px;
  height: 1.078px;
  background: #cbcbcb;
}

.WorkTop {
  margin-top: 30px;
}

.BadgeCheck {
  width: 201px;
  height: auto;
  flex-shrink: 0;
  border-radius: 13.675px;
  background: #fff;
  box-shadow: 0px 0px 5.812px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  box-sizing: border-box;
  top: 365px;

  right: 380px;
  gap: 12px;
  display: none;
}

.BadgeLine {
  width: 141px;
  height: 1.078px;
  background: #cbcbcb;
  margin-top: 12px;
  margin-bottom: 12px;
}

.BadgeTop {
  margin-top: 30px;
}

.ExpertBoxes2 {
  display: flex;
  margin: 0 0 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin: 0 auto;
  min-height: 367px;
}

.ExpertBoxes2 p {
  margin-top: 140px;
}

.ExpertBox {
  width: 930px;
  height: 210.611px;
  flex-shrink: 0;
  border-radius: 15.776px;
  border: 1px solid #cbcbcb;
  background: #fff;
  display: flex;
  margin-bottom: 24px;
}

.ExpertBox a {
  text-decoration: none;
}

.aWrapper {
  display: flex;
}

.img {
  margin-left: 39px;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  margin-top: 27px;
  margin-right: 24px;
}

.NicknameDiv {
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.Nickname {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Introduce {
  color: #565656;
  font-family: "Noto Sans KR";
  font-size: 15.776px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 34px;
}

.Description {
  /* color: #000;
font-family: "Noto Sans KR";
font-size: 18.931px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: -90px;
width: 853.486px;
height: 55.216px;
flex-shrink: 0; */

  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-left: -90px; */
  /* width: 853.486px; */
  /* height: 55.216px; */
  /* flex-shrink: 0; */
  margin: 16px 40px 0;
}

.ShowAllBtn {
  display: block;
  width: 211.399px;
  height: 43.384px;
  padding: 5.522px 11.832px;
  justify-content: center;
  align-items: center;
  gap: 9.466px;
  flex-shrink: 0;
  border-radius: 23.664px;
  background: #fff;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  margin: 0 auto;
  margin-top: 24px;
}

.Count {
  color: #0d5bda;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ShowText {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18.931px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TextWrapper {
  display: flex;
  margin-bottom: 30px;
}

.Search {
  border-radius: 50%;
  font-size: 20px;
  background: none;
  border: none;
  box-shadow: 0px 0px 4.181px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.reginWrapper {
  width: 547px;
  /* height: 268.71px; */
  padding: 26px;
}

.reginLabelWrapper {
  width: 507px;
  display: flex;
  margin-left: 10px;
}

.reginLabelWrapper label {
  margin-right: 30px;
}

.reginWrapper .line {
  width: 540px;
  margin: 18px 0;
}

.EWrapper {
  width: 125px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EWrapper .line {
  width: 124px;
  margin: 18px 0;
}

.VWrapper {
  width: 600px;
  padding: 20px;
}

.VWrapper .line {
  width: 158px;
  margin: 18px 0;
}
