html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Container{
width: 100%;
height: 950px;
margin: 0 auto;
}

.Header{
width: 100%; 
height: 95px;
flex-shrink: 0;
border-bottom: 1px solid #CBCBCB;
background: #FFF;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 5%;
box-sizing: border-box;
}

.LeftGroup {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.Logo{
margin-left: 130px;
margin-right: 57px;
}

.T_Category{
color: #000;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.T_Search{
color: #000;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.T_Chat{
color: #000;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;

}

.Alarm{
width: 10px;
height: 10px;
flex-shrink: 0;
background-color: #0D5BDA;
border-radius: 100%;
position: absolute;
top: 0;
right: -8px;
display: none;
}

.T_Mypage{
color: #000;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Btn{
color: #FFF;
font-family: "Noto Sans KR";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 35px;
background: #0D5BDA;
border: none;
outline: none;
display: inline-flex;
padding: 10px 23px;
justify-content: center;
align-items: center;
gap: 10px;
width: 183px;
height: 49px;
}

.Banner{
width: 100%; 
height: 281px;
flex-shrink: 0;
background: linear-gradient(89deg, #0D5BDA 1.09%, #7962D3 108.38%);
display: flex;
align-items: center;
justify-content: center;
}

.Category{
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.Text{
color: #000;
font-family: "Noto Sans KR";
font-size: 28.363px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 365px;
margin-top: 87px;
}
.Top{
color: #0D5BDA;
font-family: "Noto Sans KR";
font-size: 28.363px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.Nickname{
color: #000;
font-family: "Noto Sans KR";
font-size: 24.893px;
font-style: normal;
font-weight: 500;
margin-top: 5px;
line-height: 1.2;
}
.Details{
color: #565656;
font-family: "Noto Sans KR";
font-size: 18.67px;
font-style: normal;
font-weight: 400;
margin-bottom: 7px;
line-height: 1.2;
}
.Reserve{
color: #565656;
font-family: "Noto Sans KR";
font-size: 18.67px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Number{
 color: #0D5BDA;
font-family: "Noto Sans KR";
font-size: 18.67px;
font-style: normal;
font-weight: 500;
line-height: normal;   
}
.Profile1{
display: flex;
gap: 15px;
margin-top: 31px;
}
.ProfileText1{
display: flex;
flex-direction: column;
}
.Profile2{
display: flex;
gap: 15px;
margin-top: 31px;
}
.ProfileText2{
display: flex;
flex-direction: column;
}
.Profile3{
display: flex;
gap: 15px;
margin-top: 31px;
}
.ProfileText3{
display: flex;
flex-direction: column;
}
.Line{
width: 1.556px;
height: 91.016px;
background: #CBCBCB;
margin-left: 44px;
margin-right: 44px;
margin-top: 10px;
}
.ExpertsBox{
display: flex;
justify-content: center;
}

.Footer{
width: 100%;
height: 211px;
flex-shrink: 0;
background: #ECF0F5;
margin-top: 124px;
display: flex;
justify-content: space-between;
}
.B_Text{
color: #565656;
font-family: "Noto Sans KR";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.S_Text{
color: #565656;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Workher{
display: flex;
flex-direction: column;
margin-top: 33px;
margin-left: 210px;
}
.About{
display: flex;
flex-direction: column;
margin-top: 33px;
margin-right: 253px;
}
.L_Line{
width: 2px;
height: 135px;
background: #CBCBCB;
margin-top: 33px;
}
.Logout{
 color: #000;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;   
}