body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 882px;
  height: 634px;
  background: #fff;
  border-radius: 35px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doneButton {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 30px;
  background: #0d5bda;
  color: #fff;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.radio-chip input {
  display: none;
}

.radio-chip {
  display: flex;
  padding: 6.765px 14.497px;
  align-items: center;
  justify-content: center;
  border-radius: 275.188px;
  border: 1.835px solid #000;
  background: #fff;
  /* box-shadow: 0px 0px 5.122px 0px rgba(0, 0, 0, 0.25); */
  outline: none;
  width: 75px;
  height: 28px;
  font-family: "Noto Sans KR";
  font-size: 19.329px;
}

.district-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 740px;
  justify-content: center;
  margin-top: 30px;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.back-button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #ffffff;
  border: 2px solid #cbcbcb;
  color: #cbcbcb;
  cursor: pointer;
  text-decoration: none;
}

.selected {
  border: 1.835px solid #0d5bda;
  color: #0d5bda;
  background: #ecf0f5;
}

/* signup6 */

.category-option input {
  display: none;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  width: 599px;
  justify-content: center;
  align-items: center;
  margin: 106px 0;
}

.category-image {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.category-option.selectedImg .category-image {
  opacity: 1;
}

.category-option img {
  width: 222.516px;
}
