html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 190px;
}

.Header {
  width: 100%;
  height: 95px;
  flex-shrink: 0;
  border-bottom: 1px solid #cbcbcb;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  box-sizing: border-box;
}

.LeftGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Logo {
  margin-right: 19px;
}

.AdminText {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Btn {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.Footer {
  width: 100%;
  height: 211px;
  flex-shrink: 0;
  background: #ecf0f5;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.S_Text {
  color: #565656;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Workher {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-left: 210px;
}
.About {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-right: 253px;
}
.L_Line {
  width: 2px;
  height: 135px;
  background: #cbcbcb;
  margin-top: 33px;
}

.MemberBox {
  width: 929px;
  min-height: 605px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 11.1px 0px rgba(0, 0, 0, 0.25);
  margin: 50px auto 0 auto;
}

.Nickname {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 5.5px 0px rgba(0, 0, 0, 0.25);
  margin-top: 53px;
  margin-left: 73px;
}

.DetailText {
  color: #a4abbc;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.B_Text {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 31px;
}

.D_Line {
  width: 2px;
  height: 310px;
  background: #cbcbcb;
  margin-left: 91px;
  margin-right: 44px;
}

.Details {
  display: flex;
  margin-left: 83px;
  margin-top: 37px;
}
.TwoBtn {
  display: flex;
  gap: 24px;
}
.Submit {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #00b333;
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
}
.Submit.deactive {
  border: 2px solid #00b333;
  background: #fff;
  color: #00b333;
}
.Withdraw.hidden {
  display: none;
}
.Withdraw {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #ce1717;
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
}

.Bottom {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* margin-top: 69px; */
  margin-top: 31px;
}

.Back {
  display: flex;
  padding: 8.038px 17.225px;
  align-items: center;
  gap: 13.78px;
  border-radius: 34.449px;
  background: #fff;
  box-shadow: 0px 0px 6.086px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 22.966px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}

.List {
  display: flex;
  padding: 8.038px 17.225px;
  align-items: center;
  gap: 13.78px;
  border-radius: 34.449px;
  background: #fff;
  box-shadow: 0px 0px 6.086px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 22.966px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}
.Bottom a {
  text-decoration: none;
}
.Next {
  display: flex;
  padding: 8.038px 17.225px;
  align-items: center;
  gap: 13.78px;
  border-radius: 34.449px;
  background: #fff;
  box-shadow: 0px 0px 6.086px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 22.966px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}

.Left img {
  width: 339px;
  height: 256px;
}

form {
  margin-top: 117px;
}

a:visited {
  color: black;
}

.idcard {
  margin-bottom: 10px;
}
