body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  max-width: 811px;
  min-height: 580px;
  margin: 40px auto;
  padding: 20px;
}

.page-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-card a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  width: 100%;
}

.status {
  font-size: 16px;
  font-weight: 500;
}

.status-pending {
  color: #0d5bda;
}

.status-verified {
  color: #00b333;
}

/* 구분선이 포함된 user-info */
.user-info {
  flex: 1;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 16px;
  border-left: 1px solid #ddd;
}

.search-icon {
  width: 22px;
  height: 22px;
}

a:visited {
  color: black;
}
