<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>전문가 검색 결과</h2>
    <form method="get">
        <input type="text" name="keyword" value="{{ keyword }}" placeholder="전문가 검색">
        <button type="submit">검색</button>
    </form>

    <p>총 {{ experts.count }}명</p>

    {% for expert in experts %}
    <div class="expert-box">
        <a href="{% url 'experts:expert_detail' expert.id %}">
        <div>
            <img src="{{ expert.profile_image.url }}" alt="프로필">
            <div>
            <strong>{{ expert.username }}</strong><br>
            <small>{{ expert.expert_profile.intro }}</small>
            </div>
        </div>
        <p>{{ expert.expert_profile.description|truncatechars:150 }}</p>
        </a>
    </div>
    {% empty %}
    <p>검색 결과가 없습니다.</p>
    {% endfor %}
  </body>
</html>