<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>전문가 검색 결과</h2>
    <form id="expert-filter-form" method="get">
        <input type="text" name="keyword" value="{{ keyword }}" placeholder="전문가 검색">
        <button type="submit">검색</button>

        <div>
            <strong>지역</strong><br>
            {% for region in region_list %}
            <label>
                <input type="checkbox" name="region" value="{{ region }}" {% if region in selected_region %}checked{% endif %}>
                {{ region }}
            </label>
            {% endfor %}
        </div>

        <div>
            <strong>경력</strong><br>
            <label><input type="checkbox" name="experience" value="0" {% if '0' in selected_experience %}checked{% endif %}> 1년 미만</label>
            <label><input type="checkbox" name="experience" value="1" {% if '1' in selected_experience %}checked{% endif %}> 1년 이상~3년 미만</label>
            <label><input type="checkbox" name="experience" value="3" {% if '3' in selected_experience %}checked{% endif %}> 3년 이상~5년 미만</label>
            <label><input type="checkbox" name="experience" value="5" {% if '5' in selected_experience %}checked{% endif %}> 5년 이상</label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="badge" value="true" {% if badge %}checked{% endif %}>
                인증배지 보유
            </label>
        </div>
        
    </form>

    <script>
        // 체크박스가 클릭되면 form 자동 제출
        document.querySelectorAll('#expert-filter-form input[type="checkbox"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
            document.getElementById('expert-filter-form').submit();
            });
        });
    </script>

    <p>총 {{ experts.count }}명</p>

    {% for expert in experts %}
    <div class="expert-box">
        <a href="{% url 'experts:expert_detail' expert.id %}">
        <div>
            <img src="{{ expert.profile_image.url }}" alt="프로필">
            <div>
            <strong>{{ expert.username }}</strong><br>
            <small>{{ expert.expert_profile.bio }}</small>
            </div>
        </div>
        <p>{{ expert.expert_profile.description|truncatechars:150 }}</p>
        </a>
    </div>
    {% empty %}
    <p>검색 결과가 없습니다.</p>
    {% endfor %}
  </body>
</html>