{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이워커</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'css/category.css' %}"/>
    <link rel="stylesheet" href="{% static 'components/navbar.css' %}"/>
</head>
<body>
    <div class="Container">
        {% include 'components/navbar.html' %}
        <div class="Category">
            <div class="C1">
                <a href="{% url 'experts:expert_category' %}?category=appliance">
                <img
                    src="{% static 'img/main_C1.svg' %}"
                    alt="repair"
                    width="222.516px"
                />
                </a>
            </div>
            <div class="C2">
                <a href="{% url 'experts:expert_category' %}?category=health">
                <img
                    src="{% static 'img/main_C2.svg' %}"
                    alt="sports"
                    width="222.516px"
                />
                </a>
            </div>
            <div class="C3">
                <a href="{% url 'experts:expert_category' %}?category=business"">
                <img
                    src="{% static 'img/main_C3.svg' %}"
                    alt="consulting"
                    width="222.516px"
                />
                </a>
            </div>
            <div class="C4">
                <a href="{% url 'experts:expert_category' %}?category=lifestyle">
                <img
                    src="{% static 'img/main_C4.svg' %}"
                    alt="life"
                    width="222.516px"
                />
                </a>
            </div>
        </div>
        <div class="Line"></div>
        <div class="Subs">
            
        </div>
    </div>
    {% include 'components/footer.html' %}
    <script src="{% static 'js/category.js' %}"></script>
    <script>
    function toggleSub(key) {
      const el = document.getElementById('sub-' + key);
      el.style.display = (el.style.display === 'block') ? 'none' : 'block';
    }
  </script>
</body>
</html>