{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입 - 마이워커</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
</head>
<body>
  <div class="container">
    <h1>회원가입</h1>
    <form id="signup-form" method="POST" novalidate>
      {% csrf_token %}
              <!-- {{ form.non_field_errors }} -->

      <!-- ID -->
      <div class="form-group">
        <div class="label-row">
          <label>ID<span class="required">*</span></label>
          <span id="id-error" class="error">{{ form.username.errors }}</span>
        </div>
        <input
          type="text"
          name="{{ form.username.name }}"
          id="username"
          placeholder="아이디 입력 (6~20자)"
          value="{{ form.username.value|default_if_none:'' }}"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <div class="label-row">
          <label>Password<span class="required">*</span></label>
          <span class="error" id="password-error">

              <!-- {{ form.password1.errors }}{{ form.password2.errors }} -->
          </span>
        </div>
        <div class="password-fields">
          <input
            type="password"
            name="{{ form.password1.name }}"
            id="password"
            placeholder="비밀번호 입력(문자, 숫자 포함 8~20자)"
          />
          <input
            type="password"
            name="{{ form.password2.name }}"
            id="passwordConfirm"
            placeholder="비밀번호 확인"
          />
        </div>
      </div>

      <!-- 연락처 -->
      <div class="form-group">
        <div class="label-row">
          <label>연락처<span class="required">*</span></label>
          <span class="error" id="contact-error">
            <!-- {{ form.phone.errors }}{{ form.email.errors }} -->
          </span>
        </div>
        <input
          type="text"
          name="{{ form.phone.name }}"
          id="phone"
          placeholder="휴대폰 번호 입력 (- 제외 11자리)"
          value="{{ form.phone.value|default_if_none:'' }}"
          pattern="\d*"
          inputmode="numeric"
        />
        <input
          type="email"
          name="{{ form.email.name }}"
          id="email"
          placeholder="이메일 입력"
          value="{{ form.email.value|default_if_none:'' }}"
        />
      </div>

      <div class="button-group">
        <button type="submit" id="submit-button">확인</button>
      </div>
    </form>
  </div>
  <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>
