{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>채팅 목록</h2>

    {% if room_data %}
      <ul>
        {% for item in room_data %}
          <li>
            <a href="{% url 'chats:chat_room' item.room.id %}">
              {% if request.user == item.room.expert %}
                {% if item.room.customer.profileImage %}
                  <img src="{{ item.room.customer.profileImage.url }}" width="30px" />
                {% else %}
                  <img src="{% static 'img/basic_profile.svg' %}" width="30px" />
                {% endif %}
                {{ item.room.customer.nickname }}
              {% else %}
                {% if item.room.expert.profileImage %}
                  <img src="{{ item.expert.profileImage.url }}" width="30px" />
                {% else %}
                  <img src="{% static 'img/basic_profile.svg' %}" width="30px" />
                {% endif %}
                {{ item.room.expert.nickname }}
              {% endif %}

              {% if item.unread_count > 0 %}
                <span class="badge">{{ item.unread_count }}</span>
              {% endif %}
              <br />
              {{ item.last_msg.content|truncatechars:30 }}
            </a>
            <small>{{ item.last_msg.created_at|date:"n월 j일 H:i" }}</small>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>아직 진행 중인 1:1 상담 내역이 없어요!</p>
      <a href="#">카테고리 둘러보기 ></a>
      <a href="{% url 'experts:expert_list' %}">전문가 찾기 ></a>
    {% endif %}
  </body>
</html>