{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이워커</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/user_detail.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="Container">
      <div class="Header">
        <div class="LeftGroup">
          <div class="Logo">
            <a href="{% url 'matching:main'%}">
              <img src="{% static 'img/logo.svg' %}" alt="logo" width="136px" />
            </a>
          </div>
          <div class="AdminText">관리자 페이지</div>
        </div>
        <div class="Btn">
          <a href="{% url 'accounts:logout'%}"> 로그아웃 </a>
        </div>
      </div>
      <div class="MemberBox">
        <div class="Nickname">{{ user.username }} ({{ user.nickname }})</div>
        <div class="Details">
          <div class="Left">
            <div class="DetailText">신분증 이미지</div>
            <img src="{{ user.idImage.url }}" alt="id-img" width="339px" />
          </div>
          <div class="D_Line"></div>
          <div class="Right">
            <div class="DetailText">이메일</div>
            <div class="B_Text" id="email">{{ user.email }}</div>
            <div class="DetailText">연락처</div>
            <div class="B_Text" id="phoneNum">{{ user.phone }}</div>

            <form method="POST">
              {% csrf_token %}
              <div class="TwoBtn">
                <button
                  class="Submit {% if user.isVerified %}deactive{% endif %}"
                  type="submit"
                  name="action"
                  value="toggle_verified"
                >
                  {% if user.isVerified %} 인증 해제 {% else %} 인증 승인 {% endif %}
                </button>

                <button
                  class="Withdraw {% if user.isVerified %}hidden{% endif %}"
                  type="submit"
                  name="action"
                  value="delete_user"
                  onclick="return confirm('정말 삭제하시겠습니까?');"
                >
                  강제 탈퇴
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="Bottom">
          {% if prev_user %}
          <a href="{% url 'myadmin:user_detail' prev_user.id %}">
            <button class="Back">이전</button>
          </a>
          {% endif %}
          <a href="{% url 'myadmin:user_list' %}">
            <button class="List">목록으로</button>
          </a>
          {% if next_user %}
          <a href="{% url 'myadmin:user_detail' next_user.id %}">
            <button class="Next">다음</button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <footer class="Footer">
      <div class="Workher">
        <div class="B_Text">MY workHER 마이워커</div>
        <div class="S_Text">"당신을 위한 여성 전문가"</div>
        <div class="S_Text">
          마이워커는 가전/수리, 헬스/스포츠, 컨설팅/비지니스 등 다양한 분야에서 여성 고객과 여성 전문가의 커넥션을
          지원하며,
        </div>
        <div class="S_Text">여성 가치 증진을 목적으로 하는 혁신 플랫폼입니다.</div>
      </div>
      <div class="L_Line"></div>
      <div class="About">
        <div class="B_Text">About us</div>
        <div class="S_Text">PM/DE 김민서 - 숙명여자대학교 멋쟁이 사자처럼 기획/디자인</div>
        <div class="S_Text">FE 신채영 - 동덕여자대학교 멋쟁이사자처럼 프론트엔드</div>
        <div class="S_Text">FE 정규은 - 서울여자대학교 멋쟁이사자처럼 프론트엔드</div>
        <div class="S_Text">BE 고희주 - 덕성여자대학교 멋쟁이사자처럼 백엔드</div>
        <div class="S_Text">BE 고원정 - 성신여자대학교 멋쟁이사자처럼 백엔드</div>
      </div>
    </footer>
  </body>
</html>
