{%  load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    main page<br /><br />
    <a href="{% url 'experts:category_list' %}">카테고리</a>
    <a href="{% url 'experts:expert_list' %}">전문가 찾기</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'chats:chat_list' %}">1:1 상담</a>
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>

    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup_step1' %}">회원가입</a>
    {% endif %}

    <div class="category-container">
      <a href="{% url 'experts:expert_category' %}?category=appliance">
        <img src="{% static 'img/appliance.svg' %}" alt="가전/수리" />
      </a>

      <a href="{% url 'experts:expert_category' %}?category=health">
        <img src="{% static 'img/health.png' %}" alt="헬스/스포츠" />
      </a>
      <a href="{% url 'experts:expert_category' %}?category=business">
        <img src="{% static 'img/business.svg' %}" alt="컨설팅/비즈니스" />
      </a>
      <a href="{% url 'experts:expert_category' %}?category=lifestyle">
        <img src="{% static 'img/lifestyle.svg' %}" alt="생활/라이프" />
      </a>
    </div>

    <div class="section-title">이달의 전문가 <span>TOP3</span></div>
    <div class="top-experts">
      {% for expert in top_experts %}
        <a href="{% url 'experts:expert_detail' expert.id %}">
        <div class="expert-card">
          <div class="expert-img">
            {% if expert.profileImage %}
              <img src="{{ expert.profileImage.url }}" />
            {% else %}
              <img src="/static/img/base_profile.png"/>
            {% endif %}
          </div>
          <div class="expert-name">{{ expert.nickname }}</div>
          <div class="expert-info">{{ expert.expert_profile.get_category_display }}/경력 {{ expert.expert_profile.career }}년</div>
          <div class="expert-count">예약 건수 {{ expert.monthly_count }}건</div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
