<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    main page<br /><br />
    <a href="{% url 'experts:expert' %}">전문가 찾기</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'chats:chat_list' %}">1:1 상담</a>
    {% if unread_chat_total > 0 %}
      <span style="color: red;">●</span>
    {% endif %}
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>

    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup_step1' %}">회원가입</a>
    {% endif %}
    <hr />
    <a href="{% url 'matching:create-matching' %}">예약하러 가기</a>
  </body>
</html>
