{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserve_confirm</title>
    <link rel="stylesheet" href="{% static 'css/reserve_confirm.css' %}">

</head>
<body data-complete="{{ complete|default:False|yesno:"true,false" }}">
    <div class="Container">
        <div class="Header">
            <div class="LeftGroup">
                <div class="Logo">
                    <a href="{% url 'matching:main' %}">
                        <img 
                            src="{% static 'img/logo.svg' %}"
                            alt="logo"
                            width="136px"
                        />
                    </a>
                </div>
                <div class="T_Category"><a href="{% url 'experts:category_list' %}" class="T_Category">카테고리</a></div>
                <div class="T_Search"><a href={% url 'experts:expert_list'%} class="T_Search">전문가찾기</a></div>
                {% if request.user.is_authenticated%}
                    <div class="T_Chat"><a href={% url 'chats:chat_list'%} class="T_Chat">1:1상담</a>
                        {% if unread_chat_total > 0 %}
                        <div class="Alarm"></div>
                {%endif%}
                </div>
                <div class="T_Mypage">
                    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
                </div>
            </div>
            <div class="Logout">
                <a href="{% url 'accounts:logout' %}">로그아웃</a>
            </div>
            {%else%}
            <button class="Btn" id="loginSection" style="display:none;"><a href="{% url 'accounts:login'%}">로그인/회원가입</a></button>
            {% endif %}
        </div>

        <div class="ReserveConfirm"style="{% if complete %}display: none;{% endif %}" >
            <div class="ReserveCheck">예약 정보를 확인해주세요!</div>

            <div class="ReserveInfo">
                <img
                    src="{% static "img/profile.svg" %}"
                    alt="profile"
                    width="114px"
                    class="InfoImg"
                />
                <div class="InfoText">
                    <div class="Nickname">{{ expert.nickname }}</div>
                    <div class="Category">{{ expert.expert_profile.get_category_display }}</div>
                </div>
            </div>
            <div class="ResLine"></div>
            <div class="Q1">
                <span class="QNum">01</span>
                <span class="QText"> 가능 예약 일자</span>
            </div>
           <div class="ChoiceDay">
                {% for date in date_matchings %}
                    <div class="SelectedDate" data-value="{{ date }}">{{ date }}</div>
                {% empty %}
                    <p>선택된 날짜가 없습니다.</p>
                {% endfor %}
            </div>
            <div class="ResLine"></div>

            <div class="Q2">
                <span class="QNum">02</span>
                <span class="QText">가능 예약 시간대</span>
            </div>
            <div class="TimeBtnBox">
                {% for time in time_matchings %}
                    <div class="TimeBtn">{{ time }}</div>
                {% endfor %}
            </div>  
            <div class="ResLine"></div>
            <div class="Q3">
                <span class="QNum">03</span>
                <span class="QText">요청사항</span>
            </div>
            <div class="RequestText">
                {{ notes|linebreaksbr }}
            </div>
            <div class="TwoBtn">
                <form method="get" action="{% url 'matching:create-matching' %}">
                    <input type="hidden" name="expert_id" value="{{ expert.id }}">
                    <button type="submit" class="Revise" data-expert-id="{{ expert.id }}">수정하기</button>
                </form>

                <form id="submitReserveForm" method="POST" action="{% url 'matching:submit_reservation' %}">
                    {% csrf_token %}
                    <input type="hidden" name="expert_id" value="{{ expert.id }}">
                    <input type="hidden" name="dates" value="{{ date_matchings|join:"," }}">
                    <input type="hidden" name="times" value="{{ time_matchings|join:"," }}">
                    <input type="hidden" name="notes" value="{{ notes }}">
                    
                    <button type="submit" class="Submit">예약신청</button>
                </form>


            </div>
        </div>

        <div class="Complete" style="{% if not complete %}display: none;{% endif %}">
            <div class="Left">
                <img
                    src={% static "img/bigcheck.svg"%}
                    alt="bigcheck"
                    width="200px"
                    class="BigCheckImg"
                />
                <div class="CompleteText">예약 신청이 접수됐어요!</div>
            </div>
            <div class="Right">
                <div class="RightBox">
                    <img
                        src={% static "img/profile.svg" %}
                        alt="profile";
                        width="98px"                    
                    />
                    <div class="C_Nickname">{{ expert.nickname }}</div>
                    <div class="C_Category">{{ expert.expert_profile.get_category_display }}</div>
                    <div class="C_TwoBtn">
                        {% if chatroom_id %}
                        <a href="{% url 'chats:chat_room' chatroom_id %}" class="C_1">1:1 상담하기 &gt;</a>
                        {% else %}
                        <span class="C_1 disabled">1:1 상담하기 (채팅방 없음)</span>
                        {% endif %}

                        <a href="{% url 'matching:main' %}" class="C_Home">홈으로 돌아가기 &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="Footer">
        <div class="Workher">
            <div class="B_Text">MY workHER 마이워커</div>
            <div class="S_Text">"당신을 위한 여성 전문가"</div>
            <div class="S_Text">마이워커는 가전/수리, 헬스/스포츠, 컨설팅/비지니스 등 다양한 분야에서 여성 고객과 여성 전문가의 커넥션을 지원하며,</div>
            <div class="S_Text">여성 가치 증진을 목적으로 하는 혁신 플랫폼입니다.</div>
        </div>
        <div class="L_Line"></div>
        <div class="About">
            <div class="B_Text">About us</div>
            <div class="S_Text">PM/DE 김민서 - 숙명여자대학교 멋쟁이 사자처럼 기획/디자인</div>
            <div class="S_Text">FE 신채영 - 동덕여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">FE 정규은 - 서울여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">BE 고희주 - 덕성여자대학교 멋쟁이사자처럼 백엔드</div>
            <div class="S_Text">BE 고원정 - 성신여자대학교 멋쟁이사자처럼 백엔드</div>
        </div>
    </footer>
    <script src="{% static 'js/reserve_confirm.js' %}"></script>
</body>
</html>