{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserve</title>
    <link rel="stylesheet" href={% static 'css/reserve.css' %}>
</head>
<body>
    <div class="Container">
        <div class="Header">
            <div class="LeftGroup">
                <div class="Logo">
                    <a href="../index.html">
                        <img 
                            src="{% static "img/logo.svg" %}"
                            alt="logo"
                            width="136px"
                        />
                    </a>
                    
                </div>
                <div class="T_Category"><a href="{% url 'experts:category_list' %}" class="T_Category">카테고리</a></div>
                <div class="T_Search"><a href="{% url 'experts:expert_list'%}" class="T_Search">전문가찾기</a></div>
                {% if request.user.is_authenticated%}
                        <div class="T_Chat"><a href="{% url 'chats:chat_list'%}">1:1상담</a>
                        {% if unread_chat_total > 0 %}
                        <div class="Alarm"></div>
                {%endif%}
                </div>
                <div class="T_Mypage"><a href="{% url 'accounts:mypage'%}" class="T_Mypage">마이페이지</a></div>
            </div>
            <div class="Logout">
                <a href="{% url 'accounts:logout' %}">로그아웃</a>
            </div>
            {%else%}
           <button class="Btn" id="loginSection" style="display:none;"><a href="{% url 'accounts:login'%}">로그인/회원가입</a></button>
           {% endif %}
        </div>

        <form method="POST" action="{% url 'matching:create-matching' %}" id="matchingForm">
        {% csrf_token %}
        <input type="hidden" name="expert_id" value="{{ selected_expert.id }}">
        <input type="hidden" name="dates" id="datesInput">
        <input type="hidden" name="times" id="timesInput">
            <div class="ReserveInfo">
                <img
                    src="{% static "img/profile.svg" %}"
                    alt="profile"
                    width="114px"
                    class="InfoImg"
                />
                <div class="InfoText">
                    <div class="Nickname">{{selected_expert.nickname}}</div>
                    <div class="Category">{{selected_expert.expert_profile.get_category_display}}</div>
                </div>
            </div>
            <div class="ResLine"></div>
            <div class="Q1">
                <span class="QNum">01</span>
                <span class="QText"> 가능 예약 일자를 선택해 주세요.</span>
            </div>
            <div class="ChoiceDay">
                {% if selected_dates %}
                    {% for date in selected_dates %}
                        <div class="SelectedDate active" data-value="{{ date }}">{{ date }}</div>
                    {% endfor %}
                {% endif %}
                <input type="date" id="datePicker" style="display: none;" />
                <img
                    src="{% static "img/add_day.svg" %}"
                    width="44px"
                    class="ChoiceBtn"
                />
            </div>

            <div class="ResLine"></div>
            <div class="Q2">
                <span class="QNum">02</span>
                <span class="QText">가능 예약 시간대를 선택해 주세요.</span>
            </div>
            <div class="TimeBtnBox">
                {% for time in available_times %}
                    <button type="button" class="TimeBtn {% if selected_times and time in selected_times %}selected{% endif %}">
                        {{ time }}
                    </button>
                {% endfor %}
            </div>
            <div class="ResLine"></div>
            <div class="Q3">
                <span class="QNum">03</span>
                <span class="QText">요청사항을 입력해 주세요.</span>
            </div>
            <textarea class="Request" name="notes" placeholder="요청사항 입력 최대(200자)" maxlength="200">{{ notes }}</textarea>
            <button class="ReserveBtn">저장하기</button>
        </form>
        
    <footer class="Footer">
        <div class="Workher">
            <div class="B_Text">MY workHER 마이워커</div>
            <div class="S_Text">"당신을 위한 여성 전문가"</div>
            <div class="S_Text">마이워커는 가전/수리, 헬스/스포츠, 컨설팅/비지니스 등 다양한 분야에서 여성 고객과 여성 전문가의 커넥션을 지원하며,</div>
            <div class="S_Text">여성 가치 증진을 목적으로 하는 혁신 플랫폼입니다.</div>
        </div>
        <div class="L_Line"></div>
        <div class="About">
            <div class="B_Text">About us</div>
            <div class="S_Text">PM/DE 김민서 - 숙명여자대학교 멋쟁이 사자처럼 기획/디자인</div>
            <div class="S_Text">FE 신채영 - 동덕여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">FE 정규은 - 서울여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">BE 고희주 - 덕성여자대학교 멋쟁이사자처럼 백엔드</div>
            <div class="S_Text">BE 고원정 - 성신여자대학교 멋쟁이사자처럼 백엔드</div>
        </div>
    </footer>
    <script>
    // safe 필수!
        window.preSelectedTimes = JSON.parse('{{ selected_times|default:"[]"|safe }}');
    </script>

    <script src={% static "js/reserve.js"%}></script>
</body>
</html>