<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이워커</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/x-icon" />
  </head>
  <body>
    <h1>예약이 접수됐어요!</h1>
    <div>
      <p>전문가 닉네임: {{ expert.expert_profile.user.nickname }}</p>
      <p>카테고리: {{ expert.expert_profile.get_category_display }}</p>
    </div>

    <a href="{% url 'chats:chat_room' chatroom_id%}">1:1 상담하기 ></a>
    <a href="{% url 'matching:main' %}">홈으로 돌아가기 ></a>
  </body>
</html>
