{% load static %}
<link rel="stylesheet" href="{% static '/components/footer.css'%}" />
<footer class="Footer">
        <div class="Workher">
            <div class="B_Text">MY workHER 마이워커</div>
            <div class="S_Text">"당신을 위한 여성 전문가"</div>
            <div class="S_Text">마이워커는 가전/수리, 헬스/스포츠, 컨설팅/비지니스 등 다양한 분야에서 여성 고객과 여성 전문가의 커넥션을 지원하며,</div>
            <div class="S_Text">여성 가치 증진을 목적으로 하는 혁신 플랫폼입니다.</div>
        </div>
        <div class="L_Line"></div>
        <div class="About">
            <div class="B_Text">About us</div>
            <div class="S_Text">PM/DE 김민서 - 숙명여자대학교 멋쟁이 사자처럼 기획/디자인</div>
            <div class="S_Text">FE 신채영 - 동덕여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">FE 정규은 - 서울여자대학교 멋쟁이사자처럼 프론트엔드</div>
            <div class="S_Text">BE 고희주 - 덕성여자대학교 멋쟁이사자처럼 백엔드</div>
            <div class="S_Text">BE 고원정 - 성신여자대학교 멋쟁이사자처럼 백엔드</div>
        </div>
</footer>
  <script src="{% static 'components/footer.js' %}"></script>

