<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="../index.html" class="navbar-logo">
        <img src="../assets/img/logo.svg" alt="로고" />
      </a>
      <a href="../pages/category.html" class="navbar-item">카테고리</a>
      <a href="../pages/expert.html" class="navbar-item">전문가찾기</a>
      <a href="../pages/chat-list.html" class="navbar-item">1:1상담<span class="alarm-dot"></span></a>
      <a href="../pages/mypage.html" class="navbar-item active">마이페이지</a>
    </div>
    <div class="navbar-right">
      <button class="logout-btn">로그아웃</button>
    </div>
  </div>
</nav>
