<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="#" class="navbar-logo">
        <img src="../assets/img/logo.svg" alt="로고" />
      </a>
      <span class="navbar-item active">관리자 페이지</span>
    </div>
    <div class="navbar-right">
      <button class="logout-btn">로그아웃</button>
    </div>
  </div>
</nav>

<!--
<nav class="admin-navbar">
  <div class="logo">마이워커 관리자 페이지</div>
  <a href="{% url 'myadmin:user_list' %}">회원 목록</a>
  <a href="{% url 'logout' %}">로그아웃</a>
</nav>
-->